@charset "utf-8";
/* common*/
ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
body,p,b,dl,dt,dd,table,td,th,input,img,form,div,ul,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
:focus{outline:0;}
img,iframe{border:medium 0 none;}
textarea{resize:none;padding:2px 4px;}
table{border:0 none; border-collapse:collapse; border-spacing:0;}
ol,ul,li{list-style:none;}img,input,label{vertical-align:baseline;}
body{font:normal 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;background:url(../images/navRepeatBk.gif) #fafafa repeat-x center top;}
.body-gray-bk{background:url(../images/navRepeatBk.gif) #fafafa repeat-x center top;}
a:link,a:visited{color:#666666;text-decoration:none;}a:visited{text-decoration:none;}
a:hover{text-decoration:underline;cursor:pointer; color:#0280c8;}
a.white:link,a.white:visited{color:#fff;}
a.bluelink:link,a.bluelink:visited{color:#2776cd;}
a.redlink:link,a.redlink:visited{color:#d93431;}
a.greenlink:link,a.greenlink:visited{color:#469900;}

a.blueBkLink:link,a.blueBkLink:visited{background:#2776cd;color:#fff;}
a.redBkLink:link,a.redBkLink:visited{background:#e10602;color:#fff;}
table a:link, table a:visited{color:#blue}
/********have decoration link********/
a.hasline-link:link,a.hasline-link:visited{color:#1c81ba;text-decoration:underline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
h3{font-size:14px;}
h4{font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.pink-font{color:#fda100;}
.ac{text-align:center;}
.ar{text-align:right;}
.vt{vertical-align:top;}
.hide{display:none;}
.hand{cursor:pointer;}
.hide-txt{text-indent:-9999px;}
.inline-block{display:inline-block;}
.auto-height{height:auto;zoom:1;}
.relative{position:relative;}
.headermain{width:1100px;margin:0 auto;height:auto;zoom:1;}
.main{width:960px;margin:0 auto;height:auto;zoom:1;}
.bluelink-border-lr{border-left:1px solid #d3e1e8;border-right:1px solid #d3e1e8;}
.main-l{width:717px;}
.main-r{width:229px;}
.minHeight{height:auto;zoom:1;min-height:100px;_height:100px;}
.wryh{font-family:"微软雅黑",Tahoma, Geneva, sans-serif;}
.redFont{color:#e10602;}
.blueFont{color:#2776cd;}
.grayFont{color:#ccc;}
.mb12{margin-bottom:12px;}
.mt12{margin-top:12px;}
.blueFont{color:#2776cd;}
.needSubBye{font-family:"宋体"}
.pos-abs{position:absolute;}

/* padding */  
.p{padding:10px;}  
.pt{padding-top:10px;}  
.pr{padding-right:10px;}  
.pb{padding-bottom:10px;}  
.pl{padding-left:10px;}  
.ptb{padding:10px 0px;}  
.plr{padding:0px 10px;} 
.loading{background:url(../images/loading.gif) no-repeat left top;width:80px;height:12px;position:absolute;top:50%;left:50%;padding:10px 40px;margin:-26px 0 0 -65px;}
/*重置指定文档格式*/
.reset-browser-default-css{line-height:22px;}
.reset-browser-default-css ol{padding-left:18px;}, .reset-browser-default-css ul{margin-top:5px;} 
.reset-browser-default-css ul li{list-style-type:disc; list-style-position:inside;}
.reset-browser-default-css ol li{list-style-type:decimal; list-style-position:outside;}
.reset-browser-default-css p{/*text-indent:2em;*/}
.reset-browser-default-css a:link, .reset-browser-default-css a:visited{color:#0280c8}
.reset-browser-default-css a.redBkLink:link, .reset-browser-default-css a.redBkLink:visited{color:red}
.reset-browser-default-css a.blueBkLink:link, .reset-browser-default-css a.blueBkLink:visited {color: #2776CD;}
.reset-browser-default-css a.redBkLink:link, .reset-browser-default-css a.redBkLink:visited,
.reset-browser-default-css a.blueBkLink:link, .reset-browser-default-css a.blueBkLink:visited {
	background-color: #FFFFFF;  
	text-decoration: underline;
}

/**head**/
.head{height:70px;}
/**logo**/
.logo{width:113px;height:51px;margin-top:9px;}
.logo img{width:113px;height:51px;}
/**nav**/
.nav{width:450px;margin-left:40px;}
.nav li{width:99px;height:58px;float:left;position:relative;font-family:"微软雅黑";font-size:13px;font-weight:bold;line-height:58px;text-align:center;margin-left:-1px;background:url(../images/hrBk.png) no-repeat -102px 13px;}
.nav li a{text-decoration:none;width:99px;height:58px;position:relative;z-index:1;display:inline-block;}
.nav li.current{width:102px;position:relative;z-index:2;background:url(../images/hrBk.png) no-repeat 0 0;color:#fff;margin-left:-1px;}
.nav li.current a:link,.nav li.current a:visited{color:#fff;}
/**userbar**/
.userbar{width:480px;margin-top:11px;text-align:right;}
.userbar-inner{margin:0 -8px 8px 0;}
.userbar a{margin-right:8px;padding-left:0px;}
.search-all{width:178px;height:18px;border:1px solid #cccccc;}
.search-all input{width:155px;margin-left:4px;display:inline-block;line-height:18px;height:17px;border:0 none;}
.search-btn{width:19px;height:18px;background:url(../images/hrBk.png) no-repeat -204px -16px;cursor:pointer;display:inline-block;}
/**portalSelect**/
.portalselect{margin:8px;position: relative;cursor:pointer; }
.portalselectulbox{margin:0px auto;width:100px;position:absolute; display:none; top:20px; right:-3px;background: rgb(255,255,255);border: 1px  solid #CFCFCF;z-index:10000}
.portalselectulbox .box-t{ margin-top:-21px; *margin-top:-24px; height:24px;margin-right: -3px; background:url("../images/box-t.png") no-repeat; display:inline-block; width:20px;}
#portal_name1{background:url("../images/box-t.png") no-repeat -3px -2px; padding:0 5px;margin-left:2px;}
.portalselect_show{display: block;}
.portalselect ul li{margin: 2px}
.portalselect ul li:hover{background:rgb(109,165,227);}

/**footer**/
.footer{height:28px;background:#2a5daa;color:#CCCCCC;line-height:28px;}
.footer a:link,.footer a:visited{color:#cccccc;}
.footer-l{width:300px;}
.footer-l em{width:1px;margin:0 10px;display:inline-block;}
.footer-r{width:200px;text-align:right;}
.sub-footer{background:#f6f6f6;color:#666666;}
.sub-footer a:link,.sub-footer a:visited{color:#666666;}
.icon{background:url(../images/hrBk.png) no-repeat 0 0;display:inline-block;overflow: hidden;}
.process-icon{background:url(../images/hrPBk.png) no-repeat 0 0;display:inline-block;overflow: hidden;}
/****************************index style start***********************************/
/***index bigPic change***/
.bk-wrap{top:0px;}
.bk-wrap,.indexBk,.indexBk0,.indexBk1,.indexBk2{height:522px;position:absolute;left:0;width:100%;overflow:hidden;}
/*.indexBk0{background:url(../images/indexBig0.gif) no-repeat center top;}
.indexBk1{background:url(../images/indexBig1.gif) no-repeat center top;}
.indexBk2{background:url(../images/indexBig2.gif) no-repeat center top;}*/

.indexBk0{background:url(../images/indexBig0.jpg) no-repeat center top;}
.indexBk1{background:url(../images/indexBig1.jpg) no-repeat center top;}
.indexBk2{background:url(../images/indexBig2.jpg) no-repeat center top;}
/***big background small pic**/
.bk-small{width:214px;height:40px;position:absolute;left:370px;bottom:196px;}
.bk-small li{width:56px;height:36px;float:left;margin-left:8px;border:2px solid #fff;opacity:0.6;filter:alpha(opacity=60);}
.bk-small li.current,.bk-small li.hover{opacity:1;filter:alpha(opacity=100);}
.bk-small li img{width:56px;height:36px;}
/**big background links**/
.bk-link{position:absolute;width:200px;height:30px;top:0;left:0;}
.bk-link a{display:block;position:absolute;text-indent:-9999px;}
.link-to-college{width:110px;height:25px;top:204px;left:115px;}
.link-to-service{width:170px;height:25px;top:196px;left:740px;display:none;}
.link-to-recommon{width:110px;height:25px;top:220px;left:720px;display:none;}
/***index  list**/
.index-main{height:522px;z-index:1;}
.index-list{height:178px;position:absolute;bottom:0;left:0;}
.index-list .list-item{width:280px;height:146px;line-height:22px;padding:14px 15px;float:left;background:url(../images/indexListBk.png);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://top.baidu.com/zt/images/indexListBk.png");_background:none;}
.index-list .list-item a:link,.index-list .list-item a:visited{color:#333333;*position:relative}
.index-list .list-item a:hover{color:#0280C8}
.index-list-con-date{color:#999999;}
.index-news-title{margin-bottom:14px;}
.index-news-l{font-size:16px;color:#003a83;}
.index-list-subtitle{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin-left:6px;}
.i-list-more-icon{width:11px;height:11px;display:inline-block;background:url(../images/hrBk.png) no-repeat -204px 0;margin-right:2px;position:relative;top:2px;*top:-1px;_top:2px;}
.index-news-con-title{width:244px;display:inline-block;}
.list-item-mid{margin:0 15px;display:inline;}
.index-news-r a,.index-news-con-title a{position:relative;}
/*hr日历*/
.index-calendar-date{width:63px;font-size:10px;font-family:"Arial";text-align:center;-webkit-text-size-adjust:none;position:absolute;left:0px;top:5px;_left:-67px;*top:2px;padding:0 2px;height:11px;line-height:11px;color:#fff;background:url(../images/hrBk.png) no-repeat -218px 0;display:inline-block;}
.index-calendar-con li{padding-left:69px;position:relative;}
/*政策法规*/
.index-policy-con a{width:234px;display:inline-block;position:relative;padding-left:12px;}
.index-police-icon{width:7px;height:10px;display:inline-block;position:absolute;top:4px;left:0;background:url(../images/hrBk.png) no-repeat -285px 0;margin-right:4px;}
/****************************index style end***********************************/
/****************************sub style start***********************************/
.sub-big-pic{height:91px}
.sub-nav{height:30px;background:#f7f7f7;color:#666666;line-height:30px;}
.sub-nav a:link,.sub-nav a:visited{color:#2776cd;}
.sub-nav-shadow{height:1px;overflow:hidden;background:#dddddd;border-bottom:1px solid #fff;}
.crumbs{padding-left:14px;}
.phone-service{padding-left:18px;}
.email-service{padding-left:26px; position:static;}
.service-num{width:400px;text-align:right;}
.crumbs-gt{margin:0 4px;font-size:14px;font-family: "宋体";position:relative;top:1px;}
.index-icon,.phone-icon,.email-icon{width:10px;height:10px;overflow:hidden;background:url(../images/hrBk.png) no-repeat -226px -16px;display:block;position:absolute;top:0;left:0;}
.index-icon{top:10px;}
.phone-icon{width:12px;height:11px;background-position:-240px -16px;top:2px;}
.email-icon{width:15px;height:11px;background-position:-255px -14px;margin:0 5px; position:static; display:inline; padding:0 8px;}
/*hr service*/
.service-kind-wrap{border:1px solid #dbdbdb;border-top:2px solid #6da5e3;border-bottom:0 none;position:relative;}
.service-kind-wrap .new-icon{width:12px;height:12px;background:url(../images/hrBk.png) no-repeat -520px -37px;position:relative;top:-4px;display:inline-block;}
.service-kind-wrap .new-kind-mark{width:65px;height:65px;background:url(../images/hrBk.png) no-repeat -595px -135px;position:absolute;top:0;right:-1px;}
.hrsupport-nav-bk{background:url(../images/hrSupportNav.gif) no-repeat center top;}
.news-nav-bk{background:url(../images/newsNav.gif) no-repeat center top;}
.searchResult-nav-bk{background:url(../images/searchResultNav.gif) no-repeat center top;}
.contact-nav-bk{background:url(../images/contactNav.gif) no-repeat center top;}
.service-kind{border-bottom:1px solid #dbdbdb;}
.service-kind-detail{padding: 16px 16px 8px; *padding-bottom:0px; background:#fcfcfc;}

/*set the channel as default channel*/
.unset-default-channel,.set-default-channel{width:15px;height:15px;background:url(../images/hrBk.png) no-repeat -569px -35px;display:inline-block;position:relative;top:3px;*top:-1px;_top:0px;margin-right:4px;z-index:9999;}
.set-default-channel{background-position:-543px -35px;cursor:pointer;}
.set-channel-tips{width:139px;height:33px;background:url(../images/hrBk.png) no-repeat -293px -135px;position:absolute;display:none;z-index:9999;line-height:39px;text-align:center;}
/*hr srvice split two sides*/
.service-kind-detail-side{width:280px;}
.dtTitle0Con{width:560px}
.dtTitle1Con{width:230px}
.dtTitle2Con{width:200px}
.dtTitle3Con{width:180px;}
.dtTitle4Con{width:160px;}
.service-splitline1,.service-splitline2,.service-splitline3{width:21px;background:url(../images/hrBk.png) no-repeat 0 0;margin-left:15px;}
.service-splitline1{background-position:0 -90px;}
.service-splitline2{background-position:-21px -90px;}
.service-splitline3{background-position:-21px -176px;}
.service-kind dt,.service-kind dd{float:left;}
.service-kind dd{position:relative;top:-2px;_top:0;}
.service-kind dt a{font-weight:bold;position:relative}
.service-kind dt a .new-icon{right:-18px;_right:-12px;position:absolute;}
.service-kind dt a:link, .service-kind dt a:visited{color:#fff;}
.service-kind .dtTitle1,.service-kind .dtTitle2,.service-kind .dtTitle3,.service-kind .dtTitle4{background:url(../images/hrBk.png) no-repeat;text-align:center;height:18px;color:#fff;line-height:18px;*line-height:20px;}
.service-kind .dtTitle1{width:49px;background-position:0 -63px;}
.service-kind .dtTitle1 a{width:49px;display:inline-block;}
.service-kind .dtTitle2{width:78px;background-position:-62px -63px;margin-bottom:4px;}
.service-kind .dtTitle2 a{width:78px;display:inline-block;}
.service-kind .dtTitle3{width:95px;background-position:-149px -63px;}
.service-kind .dtTitle3 a{width:95px;display:inline-block;}
.service-kind .dtTitle4{width:115px;background-position:-298px -37px;}
.service-kind .dtTitle4 a{width:115px;display:inline-block;}
.service-kind dl{clear:both;margin:8px 0;border-bottom:1px dashed #dbdbdb;padding-bottom:4px;}
.service-kind dl.last{border-bottom:0 none;}
.service-kind dd a:link,.service-kind dd a:visited{padding:0 14px;display:inline-block;line-height:22px;position:relative;}
.service-kind dd a .spliteLine{display:inline-block;width:1px;height:10px;background:#cccccc;overflow:hidden;position:absolute;top:7px;_top:4px;right:0;}
.service-kind-nav{height:33px;background:url(../images/hrBk.png) no-repeat -300px -356px;}
.service-kind-nav h3{padding:6px 0 0 26px;}
/*hrservice left modul title*/
.staffService,.socialSecurity,.welfare,.renshi,.foreignerMenage{height:14px;background:url(../images/hrBk.png) no-repeat 0 0;text-indent:-9999px;top:10px;left:30px;position:relative;overflow:hidden;}
.staffService{width:70px;background-position:-204px -40px;}
.socialSecurity{width:92px;background-position:-275px -40px;}
.welfare{width:70px;background-position:-372px -40px;}
.renshi{width:77px;background-position:-445px -40px;}
.foreignerMenage{width:99px;background-position:-524px -40px;}
/*hrservice news modul*/
.service-news-list{width:348px;line-height:22px;}
.service-news-list .service-news-con-point{margin-right:4px;}
.service-news-con,.service-policy-con{border:1px solid #dddddd;border-top:0 none;line-height:24px;padding:6px 15px 23px;}
.service-news-list-tit{border-bottom:2px solid #6da5e3;height:27px;background:url(../images/hrBk.png) -254px -281px;}
.service-news-list-tit a{position:relative;top:3px;margin-right:10px;}
.service-news-newsTitle,.service-news-policyTitle{width:69px;height:18px;position:relative;top:4px;left:24px;overflow:hidden;}
.service-news-policyTitle{background-position:-355px -40px;}
/*hrservice right help panner*/
.service-help-panner li{width:112px;height:31px;background:url(../images/hrBk.png) no-repeat -579px -325px;text-align:center;line-height:31px;font-weight:bold;float:left;}
.service-help-panner li a:link,.service-help-panner li a:visited{color:#fff;}
.service-help-panner li.item2{margin:0 0 4px 4px;}
.service-help-panner li.item4{margin-left:4px;}
/*hrservice right modul*/
.service-r-modul-tit{height:23px;background:url(../images/hrBk.png) no-repeat -52px -90px;padding:8px 16px 0;}
.moreStyle{font-family: "宋体";color:#969696;}
.service-r-modul-titname{display:block;position:absolute;left:20px;top:-2px;overflow:hidden;width:155px;}
.service-r-modul-tit .icon{position:absolute;top:0;left:0;}
.service-r-modul-con{padding:16px;border-left:1px solid #d3e1e8;border-right:1px solid #d3e1e8;background:#fff;}
.service-r-modul-b{height:5px;background:url(../images/hrBk.png) no-repeat -52px -121px;overflow:hidden;}
/*compony policy(has background)*/
.service-r-policy-con{background:url(../images/policyConBk.png) no-repeat 0 0;padding:9px 16px;_padding:16px 16px 9px;height:138px;}
.service-r-policy-con a{width:197px;display:inline-block;float:left;height:26px;line-height:26px;margin-bottom:1px;position:relative;}
.service-r-policy-con  .icon{width:10px;height:10px;background-position:-278px -17px;margin-right:4px;position:relative;top:1px;}
.service-r-modul-tit .company-political-icon{background-position:-738px -59px;width:16px;height:14px;top:0px;}
.company-political-tit{background-position:-754px -40px;width:84px;}
/*friend link*/
.friend-link-con li{border-bottom:1px dashed #dbdbdb;padding:5px 0;}
.friend-link-con li.last{border-bottom:0 none;}
.friend-link-itemPic{width:38px;height:31px;overflow:hidden;margin-right:8px;position:relative;top:2px;}
.friend-link-itemPic img{width:38px;height:31px;}
.friend-link-name{width:145px;}
.friend-link-name h4{font-size:12px;}
.friend-link-name a:link,.friend-link-name a:visited{color:#2776cd;}
.friend-link-tit{background-position:-904px -40px;width:56px;}
.service-r-modul-tit .friend-link-tit-icon{background-position:-785px -59px;width:16px;height:16px;}
/*common tool*/
.common-tool-tit{background-position:-842px -40px;width:56px;}
.service-r-modul-tit .common-tool-tit-icon{background-position:-761px -59px;width:16px;height:16px;}
.common-tool-wrap{width:165px;height:100px;overflow:hidden;position:relative;left:15px;top:12px;}
.service-common-tool{width:800px;height:100px;position:absolute;top:0;left:0;}
.service-common-tool li{width:80px;height:100px;float:left;margin-right:0px;text-align:center;}
.service-common-tool li p{color:#666666;}
.service-common-tool li img{width:58px;height:58px;margin-bottom:6px;border:0 none;}
.common-tool-lbtn,.common-tool-rbtn{position:absolute;top:35px;width:12px;height:62px;cursor:pointer;background:url(../images/hrBk.png) no-repeat -52px -129px;}
.common-tool-lbtn{left:0px;_left:-16px;background-position:-52px -129px;}
.common-tool-rbtn{right:0px;background-position:-64px -129px;}
.common-tool-l-disabled{background-position:-76px -129px;cursor:text;}
.common-tool-r-disabled{background-position:-88px -129px;cursor:text;}

/*hr service detail start*/
.service-detail{border:1px solid #dbdbdb;border-top:2px solid #6da5e3;}
.service-detail-nav{height:35px;line-height:35px;background:#f6f9fb;font-size:16px;font-weight:bold;text-align:center;border-bottom:1px solid #fff;}
.service-detail-con{background:#ecf2f7;padding:5px 2px 0 6px;}
.discli li{list-style-type:disc; list-style-position:inside;line-height:24px;}

.myHrTabCon  .h4{background-color:#ecf2f7; line-height:28px; height:28px; padding-left:25px; margin:10px 0px;}
.myHrTabCon .email{color:#0d66c7}

.detail-tab-tit-wrap{width:675px;height:24px;overflow:hidden;position:relative;float:right;margin:0 10px;}
.detail-tab-prev,.detail-tab-next{width:5px;height:18px;margin-top:4px;float:left;cursor:pointer;display:none;background: url(../images/hrBk.png) no-repeat -148px -163px;}
.detail-tab-prev{background-position:-130px -163px;}
.detail-tab-prev-disable{background-position:-117px -163px; }
.detail-tab-next-disable{background-position:-161px -163px;}

.detail-tab-tit{height:24px;position:absolute;top:0;right:0;}
.detail-tab-tit li{height:24px;text-align:center;line-height:24px;float:left;cursor:pointer;position:relative;padding:0 0 0 5px;}
.detail-tab-tit li.current{background:url(../images/hrBk.png) no-repeat -292px -172px;}
.detail-tab-tit li.current span{width:1px;height:24px;display:block;background:url(../images/hrBk.png) no-repeat -477px -172px;position:absolute;right:-1px;}
.detail-con-wrap{background:#fff;padding:16px;padding-right:5px;}
/*left catalog*/
.detail-con-catalog{width:100px;background:#f6f9fb;border:1px solid #ecf2f7; position:absolute;top:15px;left:14px;}
.detail-con-catalog h3{border-bottom:1px solid #ecf2f7;height:24px;line-height:24px;padding-left:15px;font-size:12px;font-weight:bold;}
.datail-catalog-list{padding:15px 0 15px 15px;}
.datail-catalog-list li{position:relative;margin:3px 0;}
.cataloy-icon{width:4px;height:6px;background:url(../images/hrBk.png) no-repeat -293px -17px;position:absolute;top:6px;left:-8px;display:none;}
.datail-catalog-list li.current  .cataloy-icon,.datail-catalog-list li.checked  .cataloy-icon{display:block;}
.detail-con-show{padding:10px 4px 10px 20px;padding-left:120px;height:550px;overflow-y:auto;overflow-x:hidden;}
.new-staff-guid-con h4,.detail-con-show h4{font-weight:bold;font-size:14px;}
.new-staff-guid-con p,.detail-con-show p{margin:0px 0;line-height:22px;}
.set-service-apply{/*width:302px;*/height:32px;background:url(../images/hrBk.png) no-repeat -362px -93px;text-align:center;font-size:14px;font-weight:bold;}
.set-service-apply a:link,.set-service-apply span,.set-service-apply a:visited{/*width:302px;*/height:26px;_height:24px;display:block;color:#fff;text-decoration:none;padding-top:6px;_padding-top:8px;}
.set-service-apply .icon{background-position:-808px -59px;width:17px;height:13px;margin-right:10px;position:relative;top:1px;*top:-2px;_top:1px;}
.set-service-apply .process-icon{width:16px;height:16px;margin-right:10px;position:relative;top:1px;*top:-2px;_top:1px;}
.set-process-service-apply {height:32px;background:url(../images/hrPbg.png) no-repeat ;text-align:center;font-size:14px;font-weight:bold;}
.set-process-service-apply span{color:black}
/*needed table or document*/
.need-doc-all{height:auto;zoom:1;}
.need-doc-part{height:112px;overflow:hidden;}
.need-document {position:relative;}
.need-doc-icon{background-position:-872px -59px;width:16px;height:14px;}
.relat-service-icon{background-position:-738px -59px;width:16px;height:14px;}
.need-document li{height:27px;line-height:27px;position:relative;border-bottom:1px dashed #dbdbdb;padding-left:2px;}
.need-document li.hover{background:#ecf2f7;}
.need-document li.checked{background:#feffea;}
.need-document li.last{border-bottom:0 none;}
.need-doc-name{margin-left:22px;width:190px;overflow:hidden;}
.doc-handle{width:25px;height:16px;position:absolute;right:10px;top:2px;}
.need-document li.hover .doc-handle{display:block;}
.doc-handle-icon{width:10px;height:10px;background-position:-891px -59px;position:absolute;left:-12px;top:8px;}
.icon-d,.icon-t{width:14px;height:16px;position:absolute;top:4px;}
.icon-d{background-position:-831px -59px;}
.icon-t{background-position:-852px -59px;}
.toggle-btn{color:#d93431;cursor:pointer;margin-top:10px;}
.toggle-btn span{margin-left:6px;}
/* process */
.process-name{
	width: 190px;
	overflow: hidden;
}
.process-handle{
	width: 30px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 2px;
}
.process-handle-icon{
	background: url(../images/hrProcessHandle.png) no-repeat 0 0;
	display: inline-block;
	overflow: hidden;
	width: 10px;
	height: 10px;
	position: absolute;
	left: -12px;
	top: 8px;
}
/*related service */
.related-service-list a{width:120px;padding-left:14px;display:inline-block;border-bottom:1px dashed #dbdbdb;float:left;height:26px;line-height:26px;margin-bottom:1px;position:relative;}
.related-service-list a.last{border-bottom:0 none;}
.related-service-list .icon{width:10px;height:10px;background-position:-278px -17px;position:absolute;top:7px;left:0;}
/*commont*/
.comment-modul-tit{height:31px;line-height:31px;background:url(../images/commentModulTitBk.gif) repeat-x;position:relative;padding:0 15px;}
.to-comment{width:150px;height:20px;position:absolute;top:0;right:15px;text-align:right;}
.to-comment a{margin-left:10px;}
.comment-modul-tit-l,.comment-modul-tit-r{width:15px;height:31px;background:url(../images/hrBk.png) no-repeat -671px -93px;position:absolute;top:0;}
.comment-modul-tit-l{left:0px;}
.comment-modul-tit-r{background-position:-686px -93px;right:0px;}
.comment-con{border:1px solid #d3e1e8;border-top:0 none;padding:15px;background:#fff;}
/*comment list*/
.comment-list .comm-list-item{border-bottom:1px dashed #dbdbdb;padding:13px 0;}
comm-item-pic{width:48px;height:48px;}
.comm-item-txt{width:624px;}
.comm-item-txt p{word-wrap: break-word;}
.comm-item-txt h4{display:inline;color:#2776cd;margin-right:10px;font-weight:bold;font-size:12px;}
.comm-item-pic img{width:48px;height:48px;}
.comm-delete{margin-left:20px;}
.comm-reply{margin-left:34px;}
.reply-editor{background:#f6f9fb;padding:15px;margin-top:15px;position:relative;}
.reply-editor-triangle{width:17px;height:9px;background:url(../images/hrBk.png) no-repeat -485px -37px;position:absolute;top:-8px;left:20px;}
.reply-btn{width:55px;height:20px;background:url(../images/hrBk.png) no-repeat -423px -36px;border:0 none;cursor:pointer;margin-left:6px;}
.comm-reply-input{ width: 449px;padding:2px 3px 0;min-height: 18px;_height:17px;background:#fff;margin-right: auto;outline: 0;border: 1px solid #9dbbdb;word-wrap: break-word;overflow-x: hidden;overflow-y: auto;_overflow-y: visible;cursor:text;}
.reply-editor-item{margin-top:10px;}
.reply-editor-item div{word-wrap: break-word;}
.reply-editor-item li{padding:8px 0;border-bottom:1px dashed #dbdbdb;}
.reply-editor-item li.last{border-bottom:0 none;}
/*digg*/
.comm-textarea textarea{width:675px;height:85px;border:1px solid #9dbbdb;}
.count-textarea-size{color:#999999;font-weight:bold;}
.publish-comm-btn{width:123px;height:28px;background:url(../images/hrBk.png) no-repeat -709px -93px;border:0 none;cursor:pointer;}

/*======search result======*/
.searchResult-nav-bk{background:url(../images/serchResultNav.gif) no-repeat center top;}
.result-tit{height:33px;line-height:30px;border-bottom:2px solid #6da5e3;}
.no-result-tips{color:#e10602;margin:90px 0 30px 0}
.no-search-result-input{width:536px;height:30px;margin:0 0 140px 220px;background:#fff;}
.no-search-result-input input{width:498px;height:29px;line-height:30px;}
.no-search-result-input  .search-btn{background-position:-843px -93px;width:34px;height:30px;}
.have-result-search .no-result-tips{margin:20px 0 10px;}
.have-result-search .no-search-result-input{margin:20px 0;}
/*related explain*/
.result-related-explain{padding:28px 0;border-bottom:1px solid #dddddd;}
h4.result-subtit{font-weight:bold;padding-bottom:22px;border-bottom:1px solid #dddddd;}
.related-explain-tit{font-weight:bold;position:relative;padding-left:20px;color:#000;}
.related-explain-tit .icon{width:14px;height:16px;background-position:-904px -59px;position:absolute;left:0px;_left:-20px;}
.repated-explain-list li{margin-top:26px;line-height:22px;color:#666666;}
/*related table*/
.related-table{border-bottom:1px solid #dddddd;border-top:1px solid #fff;padding:25px 0;}
.related-policy{border-top:1px solid #fff;padding:25px 0;}
.repated-table-list li,.repated-policy-list li{position:relative;padding-left:20px;margin-bottom:10px;font-weight:bold;}
.repated-table-list li  .linkmar,.repated-policy-list li  .linkmar{margin-left:40px;}
.repated-table-list li  .icon,.repated-policy-list li  .icon{background-position: -831px -59px;position:absolute;height: 16px;width: 14px;left:0;_left:-20px;}
/*normal text*/
.related-normal-txt{border-bottom:1px solid #dddddd;border-top:1px solid #fff;padding:20px 0;}
.related-normal-txt p{color:#666666;}
.related-normal-tit{margin-bottom:10px;font-size:12px;}

/**=========news ===========**/
.news-con{padding:10px 18px 25px;border-bottom:1px solid #DBDBDB;background:#fff;}
.news-con a:link,.news-con a:visited{color:#0280c8;}
.hot-news-list li{border-bottom:1px solid #dddddd;padding:20px 0 10px;}
.news-list li{border-bottom:1px dashed #dddddd;padding:20px 0 10px;}
.news-con li a:link,.news-con li a:visited{color:#333333;}
.news-con li a:hover{color:#0280C8;}
.hot-news-item-con p ,.news-list li p{color:#666666;}
.news-list li.last{border-bottom:0 none;}
.hot-news-item-pic{width:131px;height:97px;padding:2px;background:url(../images/hrBk.png) no-repeat -825px -128px;}
.hot-news-item-pic img{width:131px;height:86px;}
.hot-news-item-con{width:455px;}
.news-right-modul-list{padding:6px 16px;background:#fff;}
.news-right-modul-list li{border-bottom:1px dashed #dbdbdb;line-height:27px;}
.news-right-modul-list li.last{border:0 none;}
.last-news-icon,.hot-news-icon{width:16px;height:16px;background-position:-921px -59px;}
.hot-news-icon{background-position:-942px -59px;}

/**============news detail==============**/
.news-detail-tit{background:#f6f9fb;height:36px;line-height:36px;text-align:center;}
.news-detail-tit h3{font-size:16px;}
.news-detail-tit-line{height:1px;overflow:hidden;background:#fff;border-bottom:1px solid #dbdbdb;}
.news-detail-con-subtit{margin:5px 0 10px;color:#999999;}
.news-detail-con p{margin-bottom:15px;line-height:22px;}
/**==============contact us=======================**/
.contact-list-item{padding:20px 0;}
.contact-list-item-pic{width:131px;height:97px;padding:2px;background:url(../images/hrBk.png) no-repeat -685px -128px;}
.contact-list-item-con{/*width:790px;*/margin-left:20px;}
.contact-sublist-tit{font-size:12px;font-weight:bold;margin-bottom:10px;}
.contact-sublist{float:left;margin-right:30px;line-height:22px;}
/**==============download table=======================**/
.pointing{background:url(../images/hrBk.png) no-repeat}
.download-table-l{width:196px;}
.download-table-r{width:722px;min-height:300px;height:auto !important; _height:300px;border:1px solid #dbdbdb;border-top:2px solid #6da5e3;padding:12px 16px;position:relative }
.download-table-r .pointing{position:absolute; width:8px; margin-left:-24px; top:8px; background-position:0 -260px;display:none}
.search-table-input-wrap{background:#ecf2f7;height:17px;padding:5px 0 8px 15px;}

.search-table-input{width:165px;height:18px;border:1px solid #cccccc;background:#fff;}
.search-table-input input{width:124px;margin-left:4px;display:inline-block;line-height:18px;height:17px;font-size:12px;border:0 none;}
.download-table-r-list li{height:32px;line-height:32px;border-bottom:1px dashed #dbdbdb;}
.download-table-r-list li.last{border-bottom:0 none;}
.download-table-r-list li.hover{background:#ecf2f7;}
.d-table-name{width:462px;position:relative;padding-left:20px;}
.d-table-name .icon-d,.d-table-name .icon-t{left:0;top:7px;}
.d-table-date{width:198px;}
.d-table-downloadBtn{width:30px;position:relative;padding-left:12px;}
.d-table-downloadBtn .doc-handle-icon{left:0;top:11px;}
/*according*/
.downTable-according-wrap{height:auto;zoom:1;min-height:350px;_height:350px;}
.downTable-according-wrap .accordion{border:1px solid #c4d4e1;border-bottom:0 none;}
.downTable-according-wrap .wke-accordion-header{font-size:12px;padding-left:24px;color:#2676cb;position:relative;background:url(../images/leftNavRepeatBk.gif) repeat-x;height:29px;line-height:29px;cursor:pointer;border-bottom:1px solid #c4d4e1;}
.downTable-according-wrap .wke-accordion-header-active{font-weight:bold;}
.downTable-according-wrap .wke-accordion-content{display:none;border-bottom:1px solid #99BBE8;border-top:none;padding:10px;}
.downTable-according-wrap .wke-accordion-content-inner{padding:10px;}
.downTable-according-wrap .wke-accordion-content-active{display:block;}
.downTable-according-wrap .wke-accordion-icon,.downTable-according-wrap .wke-accordion-header-selected .wke-accordion-icon{width:8px;height:8px;background:url(../images/hrBk.png) no-repeat -738px -80px;margin:0 10px;display:inline-block;position:absolute;top:11px;left:-2px;overflow:hidden;}
.downTable-according-wrap .wke-accordion-header-selected .wke-accordion-icon{background-position:-754px -80px}
.downTable-according-wrap .wke-accordion-submenu li{border-bottom:1px dashed #dbdbdb;padding:2px 4px;margin-bottom:2px;position:relative;}
.downTable-according-wrap .wke-accordion-submenu li.current{background:#ecf2f7;}
.downTable-according-wrap .wke-accordion-submenu li span.pointer{margin-right:6px;color:#4b8dd5;font-size:16px;position:relative;top:2px;}
.downTable-according-wrap .wke-accordion-submenu li a.deleteBtn{width:10px;height:10px;position:absolute;display:inline-block;right:4px;_right:16px;top:4px;font-size:14px;text-decoration:none;font-weight:bold;display:none;}
.downTable-according-wrap .wke-accordion-submenu li.current a.deleteBtn{display:block;}
/**====hr calendar=====**/
.service-calendar{width:980px;}
.timeaxis-bk{height:23px;background:url(../images/hrBk.png) no-repeat 0 -233px;padding-top:4px;overflow:hidden;}
.timeaxis-list{margin:-22px 0 30px 0;height:18px;}
.timeaxis-list li{width:18px;height:18px;background:url(../images/hrBk.png) no-repeat -113px -135px;cursor:pointer;float:left;margin-left:58px;display:inline;position:relative;}
.timeaxis-list li .text-detail{width:70px;height:20px;position:absolute;top:24px;left:-24px;color:#666666;}
.timeaxis-list li.futureMonth .text-detail{color:#3a88fe;}
.timeaxis-list li.currentMonth .text-detail{color:#e32400;}
.timeaxis-list li.futureMonth{background-position:-173px -135px;}
.timeaxis-list li.currentMonth{background-position:-143px -135px;}
/*change calendar year*/
.change-timeaxis-year{width:139px;position:relative;margin-left:835px;}
.change-timeaxis-year-btn{width:137px;height:27px;background:url(../images/hrBk.png) no-repeat -444px -135px;line-height:27px;z-index:9;text-align:center;color:#fff;font-weight:bold;position:relative;}
.change-timeaxis-year-list{width:137px;height:auto;zoom:1;position:absolute;display:none;opacity:0.9;filter:alpha(opacity=90);}
.change-timeaxis-year-list-t,.change-timeaxis-year-list-b{height:17px;background:url(../images/hrBk.png) no-repeat -754px -34px;}
.change-timeaxis-year-list-b{background-position: -610px -34px;}
.change-timeaxis-year-list-c{border-left:1px solid #558de3;border-right:1px solid #558de3;background:#fcfdfd}
.change-timeaxis-year-list-c li{width:36px;height:19px;float:left;font-family:Tahoma;font-weight:bold;margin:0 0 8px 7px;display:inline;}
.change-timeaxis-year-list-c li a:link,.change-timeaxis-year-list-c li a:visited{color:#5498fb;width:36px;height:19px;line-height:19px;display:inline-block;overflow:hidden;}
.change-timeaxis-year-list-c li.history a:link,.change-timeaxis-year-list-c li.history a:visited{color:#666666;}
.change-timeaxis-year-list-c li.current{background:url(../images/hrBk.png) no-repeat -901px -34px;text-align:center;}
.change-timeaxis-year-list-c li.current a:link,.change-timeaxis-year-list-c li.current a:visited{color:#fff;}
/**canendar detail**/
.calendar-detail{width:962px;margin:0 auto;margin-bottom:20px;background:#fff;}
.caendar-detail-tit h3{padding-left:20px;position:relative;}
.calendar-icon{width:14px;height:16px;position:absolute;background-position:-966px -59px;left:0;top:6px;*top:0;_left:-20px;}
.calendar-detail-con{border-left:1px solid #d3e1e8;border-right:1px solid #d3e1e8;height:auto;zoom:1;min-height:320px;_height:320px;padding: 15px;}
.calendar-detail-con-datebox{width:480px;padding:10px;border:1px solid #d6e3e9;}
.calendar-detail-con-datebox table{width:100%;}
.calendar-detail-con-datebox table td{border:1px solid #bababa;text-align:center;background:#fff;height:40px}
.calendar-detail-con-datebox table td>div{height:40px;}
.calendar-detail-con-datebox table td>div>span{background:#fff;width:66px;line-height:40px;;display:inline-block;}
.calendar-detail-con-datebox table td>div>div{width:15px;height:16px;margin-left: 50px;position:absolute;background:yellow;color:black;border: 1px solid #535353;}
.calendar-detail-con-datebox table td>div>span.restday{background:#ecf2f7;}
.calendar-detail-con-datebox table td.current{color:#fff;cursor:pointer;}
.calendar-detail-con-datebox table td.current>div>span{background:#3b8ad2;color:#fff;text-shadow:2px;}
.calendar-detail-con-datebox-multi{background:url(./images/multi.png) no-repeat}
.calendar-detail-con-dateArrange{width:420px;}
.calendar-detail-bottom{height:16px;position:relative;border:1px solid #d3e1e8;border-top:0 none;}
.calendar-detail-bottom-l,.calendar-detail-bottom-r,.calendar-detail-bottom-s{height:6px;width:6px;display:block;background:url(../images/hrBk.png) no-repeat -204px -135px;position:absolute;top:11px;}
.calendar-detail-bottom-l{left:-1px;}
.calendar-detail-bottom-r{right:-1px;background-position:-210px -135px}
.calendar-detail-bottom-s{width:23px;height:11px;background-position:-223px -135px;top:16px;left:200px;}
/**reset calendar according style**/
.calendar-detail-con-dateArrange .accordion{border:0 none;}
.calendar-detail-con-dateArrange .wke-accordion-header{font-size:12px;padding-left:24px;color:#2676cb;position:relative;line-height:29px;cursor:pointer;}
.calendar-detail-con-dateArrange .wke-accordion-header-selected{background:#f6f9fb;}
.calendar-detail-con-dateArrange .wke-accordion-content-inner{background:#f6f9fb;color:#666666;padding:10px;line-height:22px;}
.calendar-detail-con-dateArrange .wke-accordion-content{display:none;padding:10px 10px 10px 24px;}
.calendar-detail-con-dateArrange .wke-accordion-content-active{display:block;}
.calendar-detail-con-dateArrange .wke-accordion-icon,.calendar-detail-con-dateArrange .wke-accordion-header-selected .wke-accordion-icon{width:4px;height:6px;background:url(../images/hrBk.png) no-repeat -262px -135px;margin:0 10px;display:inline-block;position:absolute;top:11px;left:-2px;overflow:hidden;}
.calendar-detail-con-dateArrange .wke-accordion-header-selected .wke-accordion-icon{width:6px;height:4px;background-position:-271px -135px}
/*hr policy*/
.downloadDocBtn{width:136px;height:32px;background:url(../images/hrBk.png) no-repeat -52px -192px;margin:14px;outline: none;display:block;text-indent:-9999px;}
a.hrpolicy-download-btn:link,a.hrpolicy-download-btn:visited{position:absolute;top:2px;right:80px;font-size:13px;color:#2776cd;font-weight:normal;}
.small-download-btn{width:10px;height:10px;background:url(../images/hrBk.png) no-repeat -879px -93px;position:absolute;top:12px;_top:11px;left:-16px;}
.hrpolicy-news-icon{width:12px;height:16px;background:url(../images/hrBk.png) no-repeat -894px -93px;}
.hrpolicy-search-inputwrap .search-table-input{width:199px;}
.hrpolicy-search-inputwrap .search-table-input input{width:150px;}
.hrpolicy-del-searchkey{width:14px;height:18px;background:url(../images/hrBk.png) no-repeat -910px -93px;margin-left:4px;cursor:pointer;display:none;}
.input-text-small span.hrpolicy-del-searchkey{display:inline-block;margin: 3px 0 0 4px;width: 14px;} 

/*hr posibility*/
h4.hrposibility-tit{background:#ecf2f7;height:28px;padding:0 24px;line-height:28px;}

#portal_name1{color: #2776CD;}
