/*jqgird*/
.ui-jqgrid tr.jqgrow td{
	height:30px;
	font-size:12px;
	border:1px solid #ccc;
}

.ui-jqgrid .ui-jqgrid-htable th{
	height:30px;
	font-size:12px;
	border-right:1px solid #ccc;
	font-weight:bold;
	background:#eee;
	color:#333;
}

.ui-jqgrid.ui-corner-all {
    border-radius: 0px;
}

.ui-jqgrid.ui-widget-content, .ui-jqgrid .ui-widget-content{
	border-bottom:0 none;
	border-right:0 none;
	border-color:#ccc;
}

..ui-jqgrid .ui-jqgrid-hbox{pading-right:20px;}