/*
 * <a class="ui-btn" href="#"><b>提交</b></a>
 * */
.ui-btn{
	background: url("white.btn.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 5px 10px 5px 0;
    padding-left: 5px;
    text-decoration: none;
    vertical-align: middle;
}
.ui-btn b{
    background: url("white.btn.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px 0 15px;
	color:#fff;
	font-weight:500;
}
/*.ui-btn:hover{background-position:left bottom; text-decoration:none;}
.ui-btn:hover b{background-position:right bottom;}
*/
/*警告按钮*/
.ui-btn.warn{background-position:left -51px; text-decoration:none;}
.ui-btn.warn b{background-position:right -51px;}

.ui-btn.disabled{background-position:left -108px; text-decoration:none;}
.ui-btn.disabled b{background-position:right -108px; cursor:text;}


.ui-btn2{
	background: url("white.btn.png") no-repeat scroll left top transparent;
    height: 25px;
    line-height: 25px;
    margin: 5px 10px 5px 0;
    padding-left: 5px;
    text-decoration: none;
    vertical-align: middle;
}
.ui-btn2 b{
    background: url("white.btn.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 20px 0 15px;
	color:#fff;
	font-weight:500;
}
/*.ui-btn:hover{background-position:left bottom; text-decoration:none;}
.ui-btn:hover b{background-position:right bottom;}
*/
/*警告按钮*/
.ui-btn2.warn{background-position:left -51px; text-decoration:none;}
.ui-btn2.warn b{background-position:right -51px;}

.ui-btn2.disabled{background-position:left -108px; text-decoration:none;}
.ui-btn2.disabled b{background-position:right -108px; cursor:text;}