/*ui-step 是一个具有时间轴的步骤显示组件*/
.ui-msgtip{
	border-radius:3px;
	position:absolute;
	background:#fff;
}
.ui-msgtip .arrow{
	height: 13px;
	margin: -13px 0 0;
	*margin:-13px 0 0;
	overflow: hidden;
	position:absolute;
}
.ui-msgtip .left{left:15px;}
.ui-msgtip .right{right:15px;}
.ui-msgtip .bottom{bottom:-13px; margin-top:-13px;}

.ui-msgtip .arrow-border, 
.ui-msgtip .arrow-con{
	display: block;
	font-family: Arial;
	font-size: 21px;
	font-style:normal;
}

.ui-msgtip .arrow-border{height: 10px;}
.ui-msgtip .arrow-con{margin: -9px 0 0;}
.ui-msgtip .con{padding:10px;}

.ui-msgtip .bottom .arrow-border{margin-top: -16px;}
.ui-msgtip .bottom .arrow-con{margin-top: -11px;}

.ui-msgtip{border:1px solid #ccc;}
.ui-msgtip .arrow-border{color:#ccc;}
.ui-msgtip .arrow-con{color:#fff;}

/*user setting*/
.ui-msgtip-def{border:1px solid #fcc; width:240px; box-shadow: 3px 3px 4px #999999;}
.ui-msgtip-def .arrow-border{color:#fcc;}
.ui-msgtip-def .arrow-con{color:#fff;}

.scrollauto .con{overflow-y:scroll; max-height:250px;}

