.w-180{width:180px;}
.w-130{width:130px;}
/* .main{background-color:transparent;}  */
.subcolumns { display:table; width:100%; table-layout:fixed; }  
    .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }  
    .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }  
  
    .c20l, .c20r { width:20%; }  
    .c40l, .c40r { width:40%; }  
    .c60l, .c60r { width:60%; }  
    .c80l, .c80r { width:80%; }  
    .c25l, .c25r { width:25%; }  
    .c33l, .c33r { width:33.333%;}  
    .c50l, .c50r { width:50%; }  
    .c66l, .c66r { width:66.666%;}  
    .c75l, .c75r { width:75%;}  
    .c38l, .c38r { width:38.2%;}  
    .c62l, .c62r { width:61.8%;}  
  
    /*列间距*/  
    .subc  { padding:0 0.5em; }  
    .subcl { padding:0 1em 0 0; }  
    .subcr { padding:0 0 0 1em; } 
/*-------------------*/
.input-text, .input-text-small, .input-text-smaller, .input-text-smallest, .wke-messager-input{line-height:26px;height:26px; width:310px; border:1px solid #ccc; vertical-align:middle; padding-left:5px;  }	
.input-text-small{width:245px;}
.input-text-smaller{width:139px; margin-right:10px;}
.input-text-smallest{width:100px;}
.textarea-text-longest{width:776px;border:1px solid #ccc; height:53px; vertical-align:text-top; overflow:auto;}
.input-checkbox{vertical-align:middle; margin:0; zoom:1;}
/*--------------------------------*/
/* border */  
  
.bd{border:1px solid #e8e8e8; }  
.bdr {border-right: 1px solid #e8e8e8;}  
.bdl {border-left: 1px solid #e8e8e8;}  
.bdlr{border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8;}  
.bdt{border-top: 1px solid #e8e8e8;}  
.bdb {border-bottom: 1px solid #e8e8e8;}  
.bdtb{border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;}  
  
/* text-align */  
.ta-r{text-align:right;}  
.ta-l{text-align:left;}  
.ta-c{text-align:center;}  
  
/*float*/  
.fl{float:left}  
.fr{float:right} 
 
/* padding */  
.p{padding:10px;}  
.pt{padding-top:10px;}  
.pr{padding-right:10px;}  
.pb{padding-bottom:10px;}  
.pl{padding-left:10px;}  
.ptb{padding:10px 0px;}  
.plr{padding:0px 10px;}  
  
/* margin */  
.m{margin:10px;}  
.mt{margin-top:10px;}  
.mr{margin-right:10px;}  
.mb{margin-bottom:10px;}  
.ml{margin-left:10px;}  
.mtb{margin-top:10px; margin-bottom:10px; }  
.mlr{margin-left:10px; margin-right:10px;}

/*overflow*/
.o-h{overflow:hidden; zoom:1;}
/*inline-block*/
.inner-block{display:inline-block; *display:inline;zoom:1;}

.cf{clear:both;}

/*-------------申请新办工作证-------------------*/
.grayFont{color:#909090;}
.tip{font-size:12px; font-weight:500; color:#909090;padding-left:10px;}

.ui-table-1{width:100%;}
.ui-table-1{border:1px solid #ddefff;}
.ui-table-1 th{text-align:center;}
.ui-table-1 td, .ui-table-1 th{border:1px solid #ececec; line-height:28px; padding:0 0 0 15px;}
.ui-table-1 td:nth-child(1), .ui-table-1 th:nth-child(1){border-left:0 none;}
.ui-table-1 tr:nth-child(1)>td, .ui-table-1 tr:nth-child(1)>th{border-top:0 none;}
.ui-table-1 td:last-child, .ui-table-1 th:last-child{border-right:0 none;}
.ui-table-1 tr:last-child>td{border-bottom:0 none;}
.ui-table-1 th{background:url("../images/base.png") no-repeat -18px -150px; font-weight:700;}
th.ac, td.ac{padding-left:0;}

.ui-box-top2px, 
.ui-box-top1px{border:1px solid #ccc; border-top:2px solid #6DA5E3;padding-bottom:10px;}
.ui-box-top1px{border-top:1px solid #6DA5E3; border-color:#DDEFFF;}


.ui-title-1{line-height:35px;font-size:12px; background-color:#f6f9fb;padding-left:10px;}
.ui-title-3 , .ui-title-3-noborder{line-height:30px; font-size:14px; background:url("../images/base.png") no-repeat -18px -79px; padding-left:10px; border:1px solid #ddefff;}
.noborder{border:0 none;}
.noborder-input{border:0 none;width:216px; *width:212px; _width:210px; height:20px; vertical-align:super; *vertical-align:middle; margin:0px 0 0 0; *margin-left:-8px;}
/*icon*/
.arrow-right{background:url("../images/base.png") no-repeat -22px -223px; display:inline-block; *display:inline; zoom:1; width:11px;margin-right:10px;}

/*材料审核*/
.map-link{font-size:12px; font-weight:500; color:#2776cd; }
.ok-icon, .collapse-icon, .open-icon, .red-blue{background:url("../images/base.png") no-repeat -65px -223px; display:inline-block; *display:inline; zoom:1; width:11px;margin-right:10px;}
.ok-icon{background-position:-65px -223px;}
.collapse-icon, .open-icon{cursor:pointer;}
.collapse-icon{background-position:-111px -223px;}
.open-icon{background-position:-158px -223px;}
.ui-title-2{line-height:30px; font-size:14px; background:url("../images/base.png") no-repeat -18px -24px; padding-left:10px; border:1px solid #e0f1d5;}

/*我是申请人*/
.ui-title-4{font-size:12px; font-weight:500; line-height:30px;}
.red-blue{background-position:-200px -223px; width:2px; margin:0 5px 0 15px;}

.ui-table-2{width:auto;}
.ui-table-2 th, .ui-table-2 td{text-align:center; padding:0 15px;}
a.grayLink{color:#999999; text-decoration:none;}/*灰色连接，表示不可以点击。*/
/*信息采集*/
.ui-title-center{font-size:12px; color:#666; text-align:center;height:28px;line-height:28px;background:url("../images/base.png") no-repeat -18px -75px; border-top:1px solid #ddefff;}
.ui-title-left{font-size:12px; color:blue; text-align:left;height:28px;line-height:28px;background:url("../images/base.png") no-repeat -18px -75px; border-top:1px solid #ddefff;margin-left: 30px;}
.txt-impt{ vertical-align: text-top; color:#f00;margin:0px 5px 0 0;*padding-top:3px;}
/*我是hr*/
.ui-title-apply{float:left; font-size:12px; font-weight:500;  margin:-2px 20px 0 5px; *margin-top:-3px; }
.ui-title-apply .red-blue{background-position:-200px -229px}
.col-division{*position:relative; top:-2px; color:#ccc;}
.tabs-content-item  label{font-weight:700;}
.tabs-content-item a.cur{color:#ff551a; font-weight:700;}
.tabs-content-item a{color:#2776cd;padding:0 0.5em;}
.tabs-content-item a:hover{text-decoration:underline;}
/*查看完整流程记录*/
a.lookAllStep{color:#2776cd; text-decoration:none;height:30px; line-height:30px;}
a.lookAllhistory{color:#2776cd; text-decoration:none;height:30px; line-height:30px;}
/*工作托办*/
#workLive{position:absolute; top:100px; right:100px;}
/*工作托办中*/
#workLive.work-living{align:center; }
#workLive.work-living b{padding-left:15px;align:center; }
/*工作已经托办*/
#workLive.work-lived{background: url("../white/btn/white.btn.png") no-repeat scroll left -168px transparent;align:center;}
#workLive.work-lived b{padding-left:15px; background: url("../white/btn/white.btn.png") no-repeat scroll right -168px transparent; }
.icon-workLive{width:20px; background: url("../images/icon-workLive.png") no-repeat 5px 3px; float:left; height:20px; padding-left:5px;}
/*工作托办按钮是否展示*/
.work-hidden{display:none;}
.work-block{display:inline-block;}
.input-text-smallest{height:22px;line-height:22px; width:80px;margin:0 3px;}
/*删除添加后的记录*/
.del-record{
	position:absolute; top:10px; right:5px;width:12px;height:12px; 
	cursor:pointer;
	background:url("../css/redmond/images/ui-icons_cd0a0a_256x240.png") -34px -194px;
}