/*jQgrid page*/
/*digg*/
.digg{margin:15px 0;font-family:Tahoma, Geneva, sans-serif; font-weight:normal;overflow:hidden;}
.digg .opc-con{float:right; line-height:22px;}
.digg .opc-con span{float:left;margin-right:4px;}
.digg .digg-font, .digg span.total-num, .digg span.per, .digg span.cur{height:18px; line-height:20px;}
.digg .digg-font{line-height:24px\9/*IE6,7,8*/;}
.digg span.cur{line-height:18px;line-height:18px\9/*IE6,7,8*/;}
.digg a , .digg span.cur{border: 1px solid #dbdbdb;color:#dbdbdb; }
.digg a {background:url("../images/pager.png");display:block; text-align:left;text-decoration:none;height:18px;line-height:18px; line-height:22px\9/*IE6,7,8*/;}
.digg a:hover{text-decoration:none;}
.digg a.first, .digg a.last{ width:25px;}
.digg a.first{background-position:3px 5px;}
.digg .active  a.first{background-position:3px -45px;}
.digg a.prev{padding-left:12px;width:40px;_width:56px;}
.digg a.prev{background-position:-6px 5px;}
.digg .active  a.prev{background-position:-6px -45px;}
.digg span.cur{background:none; color:#666;width:16px;}
.digg span.cur input{width:16px; height:18px\0; border:0 none; text-align:center; padding-top:2px;padding-top:0\9;}
.digg a.next{padding-left:5px;width:47px;_width:54px;}
.digg a.next{background-position:-36px 5px;}
.digg .active  a.next{background-position:-36px -45px;}
.digg a.last{background-position:-75px 5px; margin-right:0;}
.digg .active  a.last{background-position:-75px -45px;}
.digg span.active a{color:#666}
.digg .active:hover{cursor:pointer;background:#ddedff ;}

.opc-txt{float: right;height: 20px;margin-right: 5px;padding: 0 1px;}
.page-detail{font-style:normal;}