<!DOCTYPE html>
<html>
    <head>
        <title>gDBox.js</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/public/gdbox/css/style.css">
        <link rel="stylesheet" href="/public/gdbox/css/prettify.css">
    </head>
<body>
<div class="wrapper">
<nav>
    <div class="pull-left">
        <h1><a href="javascript:"><span>gDBox使用文档</span></a></h1>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="lone-header">欢迎使用</h2>
    </div>
</header>
<section>
    <div class="container">
        <ul class="docs-nav">
            <li><strong>概述</strong></li>
            <li><a href="#features" class="cc-active">特性</a></li>
            <li><a href="#definition" class="cc-active">名词解释</a></li>
            <li><a href="#license" class="cc-active">授权</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Map</strong></li>
            <li><a href="#gdbox_gmap_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_gmap_events" class="cc-active">事件</a></li>
            <li><a href="#gdbox_gmap_shortkey" class="cc-active">快捷键</a></li>
            <li><a href="#gdbox_gmap_addLayer" class="cc-active">addLayer</a></li>
            <li><a href="#gdbox_gmap_removeLayer" class="cc-active">removeLayer</a></li>
            <li><a href="#gdbox_gmap_getAllLayers" class="cc-active">getAllLayers</a></li>
            <li><a href="#gdbox_gmap_getZoom" class="cc-active">getZoom</a></li>
            <li><a href="#gdbox_gmap_setZoom" class="cc-active">setZoom</a></li>
            <li><a href="#gdbox_gmap_zoomIn" class="cc-active">zoomIn</a></li>
            <li><a href="#gdbox_gmap_zoomOut" class="cc-active">zoomOut</a></li>
            <li><a href="#gdbox_gmap_setMode" class="cc-active">setMode</a></li>
            <li><a href="#gdbox_gmap_getMode" class="cc-active">getMode</a></li>
            <li><a href="#gdbox_gmap_setCenter" class="cc-active">setCenter</a></li>
            <li><a href="#gdbox_gmap_centerAndZoom" class="cc-active">centerAndZoom</a></li>
            <li><a href="#gdbox_gmap_getCenter" class="cc-active">getCenter</a></li>
            <li><a href="#gdbox_gmap_getScreenCenter" class="cc-active">getScreenCenter</a></li>
            <li><a href="#gdbox_gmap_resize" class="cc-active">resize</a></li>
            <li><a href="#gdbox_gmap_destroy" class="cc-active">destroy</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Layer.Image</strong></li>
            <li><a href="#gdbox_layer_image_new" class="cc-active">实例</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Layer.Feature</strong></li>
            <li><a href="#gdbox_layer_feature_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_addFeature" class="cc-active">addFeature</a></li>
            <li><a href="#gdbox_getFeatureById" class="cc-active">getFeatureById</a></li>
            <li><a href="#gdbox_removeAllFeatures" class="cc-active">removeAllFeatures</a></li>
            <li><a href="#gdbox_removeFeature" class="cc-active">removeFeature</a></li>
            <li><a href="#gdbox_removeFeatureById" class="cc-active">removeFeatureById</a></li>
            <li><a href="#gdbox_removeFeaturesByIds" class="cc-active">removeFeaturesByIds</a></li>
            <li><a href="#gdbox_removeFeaturesByProperty" class="cc-active">removeFeaturesByProperty</a></li>
            <li><a href="#gdbox_getAllFeatures" class="cc-active">getAllFeatures</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Feature.Polygon</strong></li>
            <li><a href="#gdbox_feature_polygon_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_feature_polygon_show" class="cc-active">show</a></li>
            <li><a href="#gdbox_feature_polygon_hide" class="cc-active">hide</a></li>
            <li><a href="#gdbox_feature_polygon_update" class="cc-active">update</a></li>
            <li><a href="#gdbox_feature_polygon_pointInFeature" class="cc-active">pointInFeature</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Layer.Marker</strong></li>
            <li><a href="#gdbox_layer_marker_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_addMarker" class="cc-active">addMarker</a></li>
            <li><a href="#gdbox_removeMarker" class="cc-active">removeMarker</a></li>
            <li><a href="#gdbox_removeMarkerById" class="cc-active">removeMarkerById</a></li>
            <li><a href="#gdbox_removeMarkersByIds" class="cc-active">removeMarkersByIds</a></li>
            <li><a href="#gdbox_getAllMarkers" class="cc-active">getAllMarkers</a></li>
            <li><a href="#gdbox_getMarkerById" class="cc-active">getMarkerById</a></li>
            <li><a href="#gdbox_addMarkers" class="cc-active">addMarkers</a></li>
            <li><a href="#gdbox_removeMarkers" class="cc-active">removeMarkers</a></li>
            <li><a href="#gdbox_removeAllMarkers" class="cc-active">removeAllMarkers</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Marker</strong></li>
            <li><a href="#gdbox_marker_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_marker_update" class="cc-active">update</a></li>
            <li><a href="#gdbox_marker_regEvent" class="cc-active">regEvent</a></li>
            <li><a href="#gdbox_marker_showInfo" class="cc-active">showInfo</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Layer.Text</strong></li>
            <li><a href="#gdbox_layer_text_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_addText" class="cc-active">addText</a></li>
            <li><a href="#gdbox_removeText" class="cc-active">removeText</a></li>
            <li><a href="#gdbox_getTextById" class="cc-active">getTextById</a></li>
            <li><a href="#gdbox_removeTextById" class="cc-active">removeTextById</a></li>
            <li><a href="#gdbox_removeTextsByIds" class="cc-active">removeTextsByIds</a></li>
            <li><a href="#gdbox_addTexts" class="cc-active">addTexts</a></li>
            <li><a href="#gdbox_removeTexts" class="cc-active">removeTexts</a></li>
            <li><a href="#gdbox_getAllTexts" class="cc-active">getAllTexts</a></li>
            <li><a href="#gdbox_removeAllTexts" class="cc-active">removeAllTexts</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Text</strong></li>
            <li><a href="#gdbox_text_new" class="cc-active">实例</a></li>
            <li><a href="#gdbox_text_update" class="cc-active">update</a></li>
            <li><a href="#gdbox_text_setText" class="cc-active">setText</a></li>
            <li><a href="#gdbox_text_setPosition" class="cc-active">setPosition</a></li>
            <li><a href="#gdbox_text_setSize" class="cc-active">setSize</a></li>
            <li><a href="#gdbox_text_refresh" class="cc-active">refresh</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Style</strong></li>
            <li><a href="#gdbox_style" class="cc-active">实例</a></li>
            <li class="separator"></li>
            <li><strong>gDBox.Util</strong></li>
            <li><a href="#gdbox_worldToScreen" class="cc-active">worldToScreen</a></li>
            <li><a href="#gdbox_screenToWorld" class="cc-active">screenToWorld</a></li>
            <li><a href="#gdbox_colorRgb" class="cc-active">colorRgb</a></li>
            <li><a href="#gdbox_getBounds" class="cc-active">getBounds</a></li>
        </ul>
        <div class="docs-content">
            <h2>概述</h2>
            <span class="title-desc">
                在前端开发过程中难免遇到针对图片的缩放平移；以及在图片上进行矢量数据、文本、标注的展示；
                如果你有上面的任何需求，恭喜你，找到组织了....在此背景下，gDBox.js诞生了
            </span>
            <h3 id="features">特性</h3>
            <ul>
                <li>多类型要素展示：图片/矢量/文本/标注</li>
                <li>高效率绘图：canvas矢量数据绘制</li>
                <li>...</li>
            </ul>
            <h3 id="definition">名词解释</h3>
            <span>...</span>
            <h3 id="license">授权</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Map</h2>
            <h3 id="gdbox_gmap_new">实例</h3>
<pre class="prettyprint">
// js: 伪代码
const gMap = new gDBox.Map(containerId, options);
// js: demo
const gMap = new gDBox.Map('map', {zoom: 640, cx: 0, cy: 0, zoomMax: 650 * 10, zoomMin: 650 / 10});
</pre>
            <h4>params:</h4>
            <table border="1">
                <tr>
                    <th>参数</th><th>类型</th>
                    <th>是否必须</th><th>默认</th>
                    <th>其他</th>
                </tr>
                <tr>
                    <td>containerId</td><td>string</td>
                    <td>是</td><td></td><td></td>
                </tr>
                <tr>
                    <td>options</td><td>object</td>
                    <td>是</td><td></td><td></td>
                </tr>
                <tr>
                    <td>options.zoom</td><td>number</td>
                    <td>是</td><td></td><td>初始缩放级别</td>
                </tr>
                <tr>
                    <td>options.cx</td><td>number</td>
                    <td>是</td><td></td><td>初始横坐标</td>
                </tr>
                <tr>
                    <td>options.cy</td><td>number</td>
                    <td>是</td><td></td><td>初始纵坐标</td>
                </tr>
                <tr>
                    <td>options.zoomMax</td><td>number</td>
                    <td>否</td><td>无极</td><td>缩放最大级别</td>
                </tr>
                <tr>
                    <td>options.zoomMin</td><td>number</td>
                    <td>否</td><td>无极</td><td>缩放最小级别</td>
                </tr>
            </table>
            <h3 id="gdbox_gmap_events">事件</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_shortkey">快捷键</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_addLayer">addLayer</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_removeLayer">removeLayer</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_getAllLayers">getAllLayers</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_getZoom">getZoom</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_setZoom">setZoom</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_zoomIn">zoomIn</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_zoomOut">zoomOut</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_setMode">setMode</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_getMode">getMode</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_setCenter">setCenter</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_centerAndZoom">centerAndZoom</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_getCenter">getCenter</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_getScreenCenter">getScreenCenter</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_resize">resize</h3>
            <span>...</span>
            <h3 id="gdbox_gmap_destroy">destroy</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Layer.Image</h2>
            <span>...</span>
            <h3 id="gdbox_layer_image_new">实例</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Layer.Feature</h2>
            <span>...</span>
            <h3 id="gdbox_layer_feature_new">实例</h3>
            <span>...</span>
            <h3 id="gdbox_addFeature">addFeature</h3>
            <span>...</span>
            <h3 id="gdbox_getFeatureById">getFeatureById</h3>
            <span>...</span>
            <h3 id="gdbox_removeAllFeatures">removeAllFeatures</h3>
            <span>...</span>
            <h3 id="gdbox_removeFeature">removeFeature</h3>
            <span>...</span>
            <h3 id="gdbox_removeFeatureById">removeFeatureById</h3>
            <span>...</span>
            <h3 id="gdbox_removeFeaturesByIds">removeFeaturesByIds</h3>
            <span>...</span>
            <h3 id="gdbox_removeFeaturesByProperty">removeFeaturesByProperty</h3>
            <span>...</span>
            <h3 id="gdbox_getAllFeatures">getAllFeatures</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Feature.Polygon</h2>
            <span>...</span>
            <h3 id="gdbox_layer_feature_new">实例</h3>
            <span>...</span>
            <h3 id="gdbox_feature_polygon_show">show</h3>
            <span>...</span>
            <h3 id="gdbox_feature_polygon_hide">hide</h3>
            <span>...</span>
            <h3 id="gdbox_feature_polygon_update">update</h3>
            <span>...</span>
            <h3 id="gdbox_feature_polygon_pointInFeature">pointInFeature</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Layer.Marker</h2>
            <span>...</span>
            <h3 id="gdbox_layer_marker_new">实例</h3>
            <span>...</span>
            <h3 id="gdbox_addMarker">addMarker</h3>
            <span>...</span>
            <h3 id="gdbox_removeMarker">removeMarker</h3>
            <span>...</span>
            <h3 id="gdbox_removeMarkerById">removeMarkerById</h3>
            <span>...</span>
            <h3 id="gdbox_removeMarkersByIds">removeMarkersByIds</h3>
            <span>...</span>
            <h3 id="gdbox_getAllMarkers">getAllMarkers</h3>
            <span>...</span>
            <h3 id="gdbox_getMarkerById">getMarkerById</h3>
            <span>...</span>
            <h3 id="gdbox_addMarkers">addMarkers</h3>
            <span>...</span>
            <h3 id="gdbox_removeMarkers">removeMarkers</h3>
            <span>...</span>
            <h3 id="gdbox_removeAllMarkers">removeAllMarkers</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Marker</h2>
            <span>...</span>
            <h3 id="gdbox_marker_new" >实例</h3>
            <span>...</span>
            <h3 id="gdbox_marker_update">update</h3>
            <span>...</span>
            <h3 id="gdbox_marker_regEvent">regEvent</h3>
            <span>...</span>
            <h3 id="gdbox_marker_showInfo">showInfo</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Layer.Text</h2>
            <span>...</span>
            <h3 id="gdbox_layer_text_new">实例</h3>
            <span>...</span>
            <h3 id="gdbox_addText">addText</h3>
            <span>...</span>
            <h3 id="gdbox_removeText">removeText</h3>
            <span>...</span>
            <h3 id="gdbox_getTextById">getTextById</h3>
            <span>...</span>
            <h3 id="gdbox_removeTextById">removeTextById</h3>
            <span>...</span>
            <h3 id="gdbox_removeTextsByIds">removeTextsByIds</h3>
            <span>...</span>
            <h3 id="gdbox_addTexts">addTexts</h3>
            <span>...</span>
            <h3 id="gdbox_removeTexts">removeTexts</h3>
            <span>...</span>
            <h3 id="gdbox_getAllTexts">getAllTexts</h3>
            <span>...</span>
            <h3 id="gdbox_removeAllTexts">removeAllTexts</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Text</h2>
            <span>...</span>
            <h3 id="gdbox_text_new">实例</h3>
            <span>...</span>
            <h3 id="gdbox_text_update">update</h3>
            <span>...</span>
            <h3 id="gdbox_text_setText">setText</h3>
            <span>...</span>
            <h3 id="gdbox_text_setPosition">setPosition</h3>
            <span>...</span>
            <h3 id="gdbox_text_setSize">setSize</h3>
            <span>...</span>
            <h3 id="gdbox_text_refresh">refresh</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Style</h2>
            <span>...</span>
            <h3 id="gdbox_style">实例</h3>
            <span>...</span>

            <hr>
            <h2>gDBox.Util</h2>
            <span>...</span>
            <h3 id="gdbox_worldToScreen">worldToScreen</h3>
            <span>...</span>
            <h3 id="gdbox_screenToWorld">screenToWorld</h3>
            <span>...</span>
            <h3 id="gdbox_colorRgb">colorRgb</h3>
            <span>...</span>
            <h3 id="gdbox_getBounds">getBounds</h3>
            <span>...</span>
        </div>
    </div>
</div>
</section>
</div>
<script src="/public/gdbox/js/jquery.min.js"></script>
<script src="/public/gdbox/js/layout.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b13f8c8b80f29406d4bd21b98f268578";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
